.Body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, min-content);
  justify-items: stretch;
  grid-gap: 1em;
  padding: 1em var(--edgePadding);
}

@media only screen and (max-width: 736px){
  .Body {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1200px){
  .Body {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Body > * {
  background: #212121;
  border: 1px solid #141414;
  border-radius: 2px;
}